/* font-family: gravesend-sans, sans-serif;
font-weight: 500;
font-style: normal; */


/* font-family: gravesend-sans, sans-serif;
font-weight: 700;
font-style: normal; */


/* font-family: gravesend-sans, sans-serif;
font-weight: 300;
font-style: normal; */

body {
    margin: 0;
    background-color: #eddada;
    font-family: gravesend-sans, sans-serif;
    color: #000032;
}

nav {
    position: fixed;
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-around;
}

.container-barre {
    height: 50px;
    padding: 20px 0;
    backdrop-filter: blur(5px);
}

.menu-item {
    display: flex;
    align-items: center;
}

.btn {
    height: 30px;
}

.site {
    margin: 0 30px;
}

.product-index {
    margin-top: 35px;
}

.product-header {
    margin-top: 100px;
}

.home-page {
    text-align: center;
}

h1 {
    font-weight: 500;
    font-size: 39px;
    line-height: 30px;
    margin: 10px 0;
}

.subtitle {
    font-size: 30px;
}

p {
    margin-top: 30px;
}

h2 {
    font-weight: 700;
    margin: 0;
}

h3 {
    font-weight: 300;
    margin: 0;
}

footer {
    background-color: #000032;
    color: #eddada;
    margin-top: 40px;
}

.btn-reseau {
    padding-top: 30px;
}

.copyright {
    margin-left: 30px;
    font-size: 10px;
}

.btn-default {
    display: flex;
    height: 50px;
}

.container-default {
    justify-content: flex-end;
    padding: 20px 40px;
}