@font-face {
    font-family: 'Bodoni Std';
    src: url('BodoniStd-Poster.woff2') format('woff2'),
        url('BodoniStd-Poster.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Amelia';
    src: url('Amelia-Regular.woff2') format('woff2'),
        url('Amelia-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

